{% extends "RiskBundle::Layout.html.twig" %}
{% block body %}

    <form action="{{ url('lancement') }}" class="form-group" method="POST">
        <fieldset class="form-group">
            <label for="width">Largeur de la grille: </label>
            <select class="form-control" id="width" name="width">
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="mode">Mode: </label>
            <select class="form-control" id="mode" name="mode">
                <option>classic</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="nbPlayers">Nombre de joueurs: </label>
            <select class="form-control" id="nbPlayers" name="nbPlayers">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </fieldset>
        <fieldset id="1" class="form-group">
            <label for="player1">Nom du joueur 1 :</label>
            <input type="text" class="form-control" name="player1" placeholder="Entrez le nom du joueur 1" required><br/>
            <fieldset class="form-group">
                <label for="symbolPlayer1">Sélection du symbole:</label>
                <select name="symbolPlayer1" class="form-control selectSymbol">
                    <option value="croixRouge.jpg" data-class="croixRouge">croix rouge</option>
                    <option value="croixVerte.png" data-class="croixVerte">croix verte</option>
                    <option value="croixRose.jpg" data-class="croixRose">croix rose</option>
                    <option value="croixJaune.jpg" data-class="croixJaune">croix jaune</option>
                </select>
            </fieldset>
        </fieldset>

        <fieldset id="2" class="form-group hidden nameInput">
            <label for="player2">Nom du joueur 2 :</label>
            <input type="text" class="form-control" name="player2" placeholder="Entrez le nom du joueur 2" ><br/>
            <fieldset class="form-group">
                <label for="symbolPlayer2">Sélection du symbole:</label>
                <select name="symbolPlayer2" class="form-control selectSymbol">
                    <option value="croixRouge.jpg" data-class="croixRouge">croix rouge</option>
                    <option value="croixVerte.png" data-class="croixVerte">croix verte</option>
                    <option value="croixRose.jpg" data-class="croixRose">croix rose</option>
                    <option value="croixJaune.jpg" data-class="croixJaune">croix jaune</option>
                </select>
            </fieldset>
        </fieldset>

        <fieldset id="3" class="form-group hidden nameInput">
            <label for="player3">Nom du joueur 3 :</label>
            <input type="text" class="form-control" name="player3" placeholder="Entrez le nom du joueur 3" ><br/>
            <fieldset class="form-group">
                <label for="symbolPlayer3">Sélection du symbole:</label>
                <select name="symbolPlayer3" class="form-control selectSymbol">
                    <option value="croixRouge.jpg" data-class="croixRouge">croix rouge</option>
                    <option value="croixVerte.png" data-class="croixVerte">croix verte</option>
                    <option value="croixRose.jpg" data-class="croixRose">croix rose</option>
                    <option value="croixJaune.jpg" data-class="croixJaune">croix jaune</option>
                </select>
            </fieldset>
        </fieldset>

        <fieldset id="4" class="form-group hidden nameInput">
            <label for="player4">Nom du joueur 4 :</label>
            <input type="text" class="form-control" name="player4" placeholder="Entrez le nom du joueur 4" ><br/>
            <fieldset class="form-group">
                <label for="symbolPlayer4">Sélection du symbole:</label>
                <select name="symbolPlayer4" class="form-control selectSymbol">
                    <option value="croixRouge.jpg" data-class="croixRouge">croix rouge</option>
                    <option value="croixVerte.png" data-class="croixVerte">croix verte</option>
                    <option value="croixRose.jpg" data-class="croixRose">croix rose</option>
                    <option value="croixJaune.jpg" data-class="croixJaune">croix jaune</option>
                </select>
            </fieldset>
        </fieldset>

        <button id="submitParameters" type="submit" class="btn btn-primary">Lancer la partie</button>
    </form>
    <div id="divChargement" class="hidden">Création de la partie<br/><img alt="icone-chargement" src="{{ asset('bundles/risk/images/iconeChargement.gif') }}"></div>

    <script>
        $(document).ready(function () {
            $('#nbPlayers').change(function () {
                $('.nameInput').each(function () {
                    if (!$(this).hasClass('hidden')) {
                        $(this).addClass('hidden');
                        $(this).find($('input')).prop('required', false);
                    }
                });

                $('.nameInput').each(function () {
                    if ($(this).attr('id') - 1 < $('#nbPlayers').val()) {
                        $(this).removeClass('hidden');
                        $(this).find($('input')).prop('required', true);
                    }
                });
            });

            $(function () {
                $.widget("custom.iconselectmenu", $.ui.selectmenu, {
                    _renderItem: function (ul, item) {
                        var li = $("<li>", {text: item.label});

                        if (item.disabled) {
                            li.addClass("ui-state-disabled");
                        }

                        $("<span>", {
                            style: item.element.attr("data-style"),
                            "class": "ui-icon " + item.element.attr("data-class")
                        })
                                .appendTo(li);

                        return li.appendTo(ul);
                    }
                });
                $(".selectSymbol")
                        .iconselectmenu()
                        .iconselectmenu("menuWidget")
                        .addClass("ui-menu-icons customicons");
                $('.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all').width('100%');
            });

            $("#submitParameters").on("click", function () {
                $('#divChargement').removeClass("hidden");
            });

        });
    </script>

{% endblock %}
